@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-rubik);
  --font-mono: var(--font-jetbrains-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Rubik, sans-serif;
  font-size: 24pt;
}


h1 {
  font-family: Jura, sans-serif;
  font-size: 64pt;
  font-weight: bold;
}

h2 {
  font-family: Jura, sans-serif;
  font-size: 48pt;
}

h3 {
  font-family: Rubik, sans-serif;
  font-size: 32pt;
  font-weight: bold;
}

p {
  font-family: Rubik, sans-serif;
  font-size: 24pt;
}

