
button {
    /* transition:cubic-bezier(); */
    font-size: 24px;
    font-weight: 100;
    color:white;
    background: var(--main-gradient);
    backdrop-filter: blur(10px);

    border-width: 2px;
    border-color: rgba(0,0,0,0.2);
    border-radius: 15px;

    padding: 8px 23px;

    transition-duration: 0.2s;

    box-shadow: 0px 5px 10px rgba(0, 39, 99, 0.2);
}
button:before {
    /*This is for the glossy effect on the buttons*/
    --lighting-padding: 2px;
    content: "";
    display: block;
    position: absolute;
    left: var(--lighting-padding);
    right: var(--lighting-padding);
    top: var(--lighting-padding);
    height: 80%;
    border-radius: inherit;
    background: linear-gradient(rgba(255,255,255, 0.7) 0%, rgba(255,255,255, 0) 25%);
}
button:hover{
    background-color: rgba(121, 218, 253, 1)
}
button:active {
    background-color: rgba(121, 218, 253, 0.5)
}