@import 'tailwindcss';

.header {
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    /* opacity: 0.5; */
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: var(--main-transition);
    box-shadow: 0px 5px 10px rgba(0, 39, 99, 0.2);

}