.blog-card {
    display: flex;
    flex-direction: column;
    transition: all;
    transition-duration: 250ms;
    
}
.blog-card:hover{
    background-color: rgba(0,0,0,0.2);
}

.blog-description {
    background: var(--gradient-darkpurple);
    color: white
}