.tagElement {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #F59E0B;
    border-radius: 25px;
    -webkit-text-fill-color: white;
    font-weight: normal;

}